 <%= form_for(@post) do |f| %>  

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form"> 
  	<%= f.label :title, "Название услуги или компании" %><br>
    <%= f.text_field :title, placeholder: "Например, teampact.io" %><br>

    <%= f.label :description, "Описание" %><br>
    <%= f.text_area :description %><br> 

    <%= f.label :phone, "Телефон" %><br>
    <%= f.text_field :phone %><br> 

    <%= f.label :email, "Электронная почта" %><br>
    <%= f.text_field :email %><br>

    <%= f.label :address, "Адрес" %><br>
    <%= f.text_field :address %><br>

    <%= f.label :url, "Адрес сайта" %><br> 
    <%= f.text_field :url %>

  </div> 
  <div class="actions"> 
    <%= f.submit %> 
  </div> 
<% end %>
