 <%= form_for(@post, :html => {:multipart => true}) do |f| %>  

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <fieldset class="form-group">     
  	  <%= f.label :title, "Название услуги или компании*" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Например, teampact.io" %>
    </fieldset>

    <fieldset class="form-group"> 
      <%= f.label :description, "Описание*" %>
      <%= f.text_area :description, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group"> 
      <%= f.label :phone, "Телефон" %>
      <%= f.text_field :phone, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group">     
      <%= f.label :email, "Электронная почта" %>
      <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
    </fieldset>

    <fieldset class="form-group"> 
      <%= f.label :address, "Адрес" %>
      <%= f.text_field :address, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group"> 
      <%= f.label :url, "Адрес сайта" %>
      <%= f.text_field :url, class: "form-control"%>
    </fieldset>

    <fieldset class="form-group"> 
      <%= f.label :url, "Фотографии" %>
      <%= file_field_tag "photos[]", type: :photo, multiple: true %>
    </fieldset>
  </div>

  <%= f.fields_for :photos do |photo_form| %>
    <%= image_tag photo_form.object.photo.thumb.url %>
  <% end %>


 <% end %>


