      <% @posts.each do |post|%> 
          <div class="card card-block row">
            <div class="col-xs-3">
                <% if post.user %>
                  <%= image_tag post.user.photo, class: "avatar" %></br>
                  <%= post.user.name %>
                <% end %>
<!--               <% post.photos.each do |photo| %>
                <%= image_tag photo.photo.thumb.url %>
              <% end %> -->
            </div>
            <div class="col-xs-9">
              <h4 class="card-title"><%= post.title %></h4> 
              <p class="post-description"><%= post.description %></p>
              <div style="float: right;"><%= link_to "Read more", post_path(post), class: "card-link, author_links" %></div>
              <ul class="contacts">    
                <li><%= link_to nil, post.url, target: "_blank" if post.url %></li>
                <li><%= post.email if post.email %></li>
                <li><%= post.phone if post.phone %></li>
                <li><%= post.address if post.address %></li>
              </ul>
  
              
              <% if post.user == current_user %>
                <%= link_to "Edit", edit_post_path(post), class: "card-link, author_links" %>
                <%= link_to "Delete adv", post_path(post), method: :delete, class: "card-link, author_links" %>
              <%end%>
            </div>
          </div>
      <% end %> 