 <div>
      <% @posts.each do |post|%> 
          <div class="card card-block">
            <h4 class="card-title"><%= post.title %></h4> 
            <p class="card-text"><%= post.description %></p>
            <p class="card-text"><%= post.phone %></p>
            <p class="card-text"><%= post.email %></p>
            <p class="card-text"><%= post.address %></p>
            <%= link_to "See info", post_path(post), class: "card-link" %>
            <% if post.user == current_user %>
              <%= link_to "Edit", edit_post_path(post), class: "card-link" %>
              <%= link_to "Delete adv", post_path(post), method: :delete, class: "card-link" %>
            <%end%>
          </div>
      <% end %> 
 </div>