<div class="card card-block">
	<div class="row col-xs-12 to-all-photos" style="padding-bottom: 20px">
		<%= link_to "<—— Ко всем объявлениям", posts_path %>
	</div>
	<div class="row">
        <div class="col-xs-3">
            <%= render "photo", post: @post %>
        </div>
        <div class="col-xs-9">
            <h4 class="card-title"><%= @post.title %></h4> 
            <p><%= @post.description %></p>
               
            <% @post.photos.each do |photo| %>
                <%= link_to photo.photo.url do %>
                <%= image_tag photo.photo.thumb.url, class: "photo"%>
                <% end %>
            <% end %>

            <div style="margin-top: 0px">    
				<%= render "contacts", post: @post %>
            </div>
              
			<%= render "actions", post: @post %>
         </div>
     </div>
</div>