<!DOCTYPE html>
<html>
<head>
  <title>Rult</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
</head>

<body>


<!-- <div class="header">
      <ul class="nav">
          <% if current_user %>
            <li class="button"><%= link_to "Create new adv", new_post_path %></li>
            <li>Sign in as <%= current_user.name %></li>
            <li class="button"><%= link_to "Sign out", signout_path%></li>
          <% else %>
            <li class="button"><%= link_to "Sign in with Facebook", "/auth/facebook"%></li>
          <% end %>  
      </ul>
</div> -->


<nav class="navbar navbar-dark bg-inverse">
  <%= link_to "ruLT", '/', class: "navbar-brand" %>
    <ul class="nav navbar-nav pull-xs-right">
          <% if current_user %>
            <%= image_tag current_user.photo, size: "36x36", style: "float:right; margin-left: 15px" %>  
            <li class="nav-item"><%= link_to "Create new adv", new_post_path, class: "btn btn-secondary-outline" %></li>
            <li class="nav-item"><%= link_to "Sign out", signout_path, class: "btn btn-secondary-outline" %></li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign in with Facebook", "/auth/facebook", class: "btn btn-secondary-outline" %></li>
          <% end %>  
      </ul>
</nav>



<div class="container" style="margin-top: 15px">
<div class="row">
  <div class="col-sm-8">
    <%= flash[:error] %>
    <%= yield %>
  </div>
</div>
</div>

</body>
</html>
